/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */


/*********************** NAVBAR ************************/
.navbar-custom {
    background-color: #B37CD1;
}

.navbar-custom .navbar-brand {
    font-size: 20pt;
    font-weight: bold;
    background-color:white;
    border-radius: 15px;
    border: none;
    color: #B37CD1;
    padding: 10px 35px 10px 35px;
    margin: -10px 0px -8px 25px;
}

.navbar-custom .navbar-brand:hover {
    color: #B37CD1;
    text-decoration: underline;
}

.navbar-custom .dropdown:focus,
.navbar-custom .dropdown:hover,
.navbar-custom .dropdown:active {
    background-color: #F7F7F7;
}

.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:active {
    border-radius: 15px;
}

.navbar-custom .dropdown-item:focus,
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:active {
    background-color: #F7F7F7;
    border-radius: 15px;
}

.navbar-custom .dropdown-menu,
.navbar-custom .dropdown-menu:active,
.navbar-custom .dropdown-item,
.navbar-custom .dropdown-item:active,
.navbar-custom .navbar-nav {
    border-radius: 15px;
}

.navbar-custom .nav-item {
    font-size: 14pt;
    margin-left: 25px;
    padding: 0px 10px 0px 10px;
}

.navbar-custom .nav-item:hover {
    background-color: #F7F7F7;
    border-radius: 15px;
}

.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:hover,
.navbar-custom .navbar-toggler:active {
    background-color: #F7F7F7;
    outline: none;
}

.navbar-custom a:active {
    background-color: #F7F7F7;
    color: #B37CD1;
}


/********************* WITHIN BODY *********************/

body {
    background-color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 14pt;
}

.container-fluid {
    margin-top: 60px;
    margin-bottom: 5px;
}

.summary,
.visualizations,
.data,
.comparison {
    background-color:white;
    padding: 25px 25px 25px 25px;
}

#project-link {
    color: #B37CD1;
    font-weight: bold;
}

h3, h5 {
    color: #B37CD1;
    font-weight: bold;
}

h5 {
    text-align: center; 
    vertical-align: middle;
}

.img-links {
    margin: 5px;
}

.img-links:hover,
.img-links:active,
.img-links:focus {
    border: 3px dashed #B37CD1;
}

#viz {
    border: 3px solid #B37CD1;
}

/*********************** FOOTER ************************/
footer {
    background-color: #B37CD1;
    color: white; 
    font-size: 9pt; 
    text-align: center; 
    vertical-align: middle;
    line-height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 
}

#boot-link:link,
#boot-link:visited,
#boot-link:hover,
#boot-link:active {
    color: white !important;
}

#gh-icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
}

/*********************** RESPONSIVE FEATURES ************************/


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */



/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {}



/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {}



/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {} */