body {
    background-color:#F7F7F7;
    margin-top: 100px;
    font-family: 'Tajawal', sans-serif;
}

.navbar-custom {
    background-color: #B37CD1;
}

.navbar-custom .navbar-brand {
    font-size: 20pt;
    font-weight: bold;
    background-color:white;
    border-radius: 15px;
    color: #B37CD1;
    padding: 10px 35px 10px 35px;
    margin: -10px 0px -8px 75px;
}

.navbar-custom .navbar-brand:hover {
    color: #B37CD1;
    background-color: #F7F7F7;
}

.navbar-custom .dropdown:focus,
.navbar-custom .dropdown:hover,
.navbar-custom .dropdown:active {
    background-color: #F7F7F7;
}
.navbar-custom .nav-link:active {
    border-radius: 15px;
}

.navbar-custom .dropdown-item:focus,
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:active {
    background-color: #F7F7F7;
    border-radius: 15px;
}

.navbar-custom .dropdown-menu, .navbar-custom .dropdown-menu:active,
.navbar-custom .dropdown-item, .navbar-custom .dropdown-item:active,
.navbar-custom .navbar-nav {
    border-radius: 15px;
}

.navbar-custom .nav-item {
    font-size: 14pt;
    margin-left: 25px;
    padding: 0px 10px 0px 10px;
}

.navbar-custom .nav-item:hover {
    background-color: #F7F7F7;
    border-radius: 15px;
}

.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:hover,
.navbar-custom .navbar-toggler:active {
    background-color: #F7F7F7;
    outline: none;
}

.navbar-custom a:active {
    background-color: #F7F7F7;
    color: #B37CD1;
}

.summary, .visualizations, .data, .comparison {
    background-color:white;
}

h3, h4 , h5 {
    color: #B37CD1;
    font-weight: bold;
}

h5 {
    margin-left: 80px;
}

p {
    font-size: 16pt;
}

.img-links:hover, .img-links:active, .img-links:focus {
    border: 3px dashed #B37CD1;
}

#viz {
    border: 3px solid #B37CD1;
}

#main-image {
    max-width: 500px;
    height: 300px;
    margin-bottom: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h5 {
        margin-left: 80px;
    }
    
    .summary {
        margin-left: 45px;
        margin-bottom: 45px;
        padding: 25px 50px 25px 50px;
    }
    
    .visualizations {
        margin-left: 45px;
        margin-bottom: 100px;
        padding: 25px 50px 25px 50px;
    }
    
    .image-wrapper {
        margin-right: 20px;
    }
    
    .viz {
        margin: 35px -15px 0px 0px;
    }

    #main-image {
        max-width: 500px;
        height: 300px;
        margin-bottom: 15px;
    }
    
    .data {
        margin: 0px 50px 0px 45px;
        padding: 25px 50px 25px 50px;
    }
    
    .comparison {
        margin: 0px 100px 0px 100px;
        padding: 25px 50px 25px 50px;
    }
    
    .comparison-row {
        margin: 0px 0px 0px 100px;
    }
    
    .plot {
        padding: 15px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* @media (max-width: 768px) {
    .navbar-custom {
        background-color: #B37CD1;
    }

    .navbar-custom .navbar-nav {
        background-color:white;
    }

    .navbar-custom .navbar-brand {
        background-color:white;
        color: #B37CD1;
    }

} */